*{
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

}
table th, table td {
    text-align: left;
    padding: 8px;
}
table th, table td , table tr , table thead{
    text-align: center;
    padding: 8px;
    transition:1s background-color ease-in-out;
}



.found{
    
    background-color: green;
    color: white;
}

header{
    height: 4rem;
    border: 2px solid red;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
nav {
    background-color: sandybrown;
    
    
}
